body{
  background-color: #202524;
}

.App {
  text-align: center;
  margin: 25px;
}

/* inicio de nav */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 2px;
}

nav a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
nav a.logo{
  font-size: 3rem;
}

nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li{
  display: inline;
  margin: 7px;
}
/* fin del nav */


/* para el icono de github */
.fa-github:before{
  font-size: 120px;
  color:#DA5ADA;
  margin:25px;
}

/* para el icono de react */
.fa-react:before{
  font-size: 120px;
  color:#39ECD3;
  margin:10px;
}


h1,h3,h5{
  color:white;
  font-family: 'Raleway', sans-serif;
}

input{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #F6FBFA;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 1em;
  border-radius: 2px;
}


/* boton */
.btn {
  margin: 8px;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #343f3d;
  font-family: 'Raleway', sans-serif; 
  border: none;
  border-radius: 3px;
 }

/* hover del boton, sirve para hacer el movimiento detraslacion */
.btn:hover {
  background-position: right center;
}

/* cambio de color boton */
.btn-1 {
  background-image: linear-gradient(to right, #39ECD3 0%, #fda085 51%, #DA5ADA 100%);
}

